.card-img-top{
padding: 35px 35px 5px 35px;
}

#price{
  padding-left: 3px;
}

.spinner-border {
  margin-left: 1em;
}

.card {
  border-radius: 2.25rem;
  height: 100%;
  align-items: center; 
}

.card-body {
  display: contents;
}

.card-text {
  margin:5px;
}

.price_display {
  position: relative;
  align-self: flex-start;
  margin-bottom: 22px;
}

.price-rect {
  border-radius: 0px 15px 15px 0px;
}

.savings {
  margin-bottom: 5px;
}